openapi: 3.0.3
info:
  title: AI Pods Odoo SaaS - API Specification
  description: Specification-Driven Development (SDD) OpenAPI Contract for Multi-Tenant AI Pods Platform
  version: 1.0.0
servers:
  - url: https://api.aipods.odoo-consulting.com/v1
    description: Production Server
  - url: http://localhost:8000/v1
    description: Local Development Server

paths:
  /chat/completions:
    post:
      summary: Send user query to AI Pods router
      operationId: processChatCompletion
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: Successful AI Pod response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        '401':
          description: Unauthorized / Missing Tenant Context
        '500':
          description: Internal Server Error

  /admin/documents/upload:
    post:
      summary: Upload and index a new document into RAG vector store
      operationId: uploadDocument
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                tenant_id:
                  type: string
                  example: "GLOBAL"
                domain:
                  type: string
                  enum: [AFIP, SCM, CRM, SOCIAL]
                replaces_doc_id:
                  type: string
                  format: uuid
      responses:
        '202':
          description: Document accepted for async indexing
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                  doc_id:
                    type: string
                  status:
                    type: string
                    example: "PROCESSING"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ChatRequest:
      type: object
      required:
        - tenant_id
        - message
      properties:
        tenant_id:
          type: string
          example: "tenant_empresa_123"
        session_id:
          type: string
          example: "sess_998877"
        message:
          type: string
          example: "¿Cómo configuro el certificado de AFIP en Odoo?"
        stream:
          type: boolean
          default: false

    ChatResponse:
      type: object
      required:
        - routed_pod
        - response
        - citations
      properties:
        session_id:
          type: string
        routed_pod:
          type: string
          example: "AFIP_FINANCE"
        response:
          type: string
        cached:
          type: boolean
        citations:
          type: array
          items:
            $ref: '#/components/schemas/Citation'

    Citation:
      type: object
      properties:
        doc_title:
          type: string
        page:
          type: integer
        snippet:
          type: string
